<div class="container">
	<h1>Welcome to the eCommerce Platform</h1>
	<p>We enable small business owners to establish an online presence.</p>
	<p>List and sell your products in your online storefront.</p>
	

	<% if current_user.present? %>
		<% if current_user.stores.first == nil %>
			<%= link_to "Create Your Store", new_dashboard_store_path, class: "btn btn-success" %>
		<% else %>
			<%= link_to "Dashboard", dashboard_store_products_path(store_id: current_user.stores.first.id), class: "btn btn-success" %>
		<% end %>
	<% else %>
		<%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-success" %>
	<% end %>
</div>