<div class="container">
	<h1>Welcome to the eCommerce Platform</h1>
	<p>We enable small business owners to establish an online presence.</p>
	<p>List and sell your products in your online storefront.</p>
	<%= link_to "Create Your Store", new_dashboard_store_path, class: "btn btn-success" %>
	
</div>