<div class="container">
	<% if @order.order_lines.nil? && @order.order_lines.errors.any? %>
		<div class="alert alert-danger">
			<ul>
				<% @order_lines.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<h2>Your Order</h2>

	<% if @order.customer == current_user %>
		<%= render 'order_lines/order_line_row' %>
	<% end %>

	<h2>Your Information</h2>


		
	<h2 id="total">Total: $<%= @order.subtotal %></h2>

</div>