// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thumbnail{
	width: 30%;
	display: block;
	float: left
}

.img-responsive{
	margin: 20px
}


@media screen {
	.thumbnail {
	display: table;
	border-collapse: collapse;
	width: 100%;
	}
}

h4 {
	display: inline;
}

#product-title {
	padding-top: 20px;
	padding-bottom: 20px;
}

#product-price {
	padding-top: 20px;
	padding-bottom: 20px;
}

#product-description {
	padding-top: 20px;
	padding-bottom: 20px;
}

#product-input {
	padding-right: 20px;
}